/*colours

#F0FDA5 light yellow
#82C8FF light blue

*/

@keyframes galAnimate {
	0% {border:solid darkgrey 15px;}
	25% {border:solid lightgrey 20px;}
	50% {border:solid white 20px;}
	75% {border:solid lightgrey 17px;}
	100% {border:solid darkgrey 15px;}
}

body
{
	background-color:black !important;
	color:#F0FDA5;
}



h1,h2,h3,h4,p
{
	color:#F0FDA5;
}

a
{
	color:#00ff00 !important;
}




/*top nav menu*/


.artTopImgs
{
	
	width:50%;
	margin-left:25%;
}

.galRegImg
{
	border:solid darkgrey 15px;
	border-radius:40px;
}

.galRegImg:hover
{
	animation-name: galAnimate;
	animation-duration:7s;
}

.homepageSecondTitles
{
	text-align:center;
}

.galleryList
{
	margin-right:75% !important;
}

.navList
{
	display:list-item;
	font-size:1.2em;
	list-style:none;
	text-decoration:none;
	text-decoration-color:none;
	/*position:relative;*/
	/*height:10px;*/
}

.navListItem
{
	float:right;
	list-style:none;
	text-decoration:none;
	text-decoration-color:none;
	display:list-item;
	width:8%;
	margin-right:3%;
	padding:0px;
	/*position:relative;*/
	/*word-wrap:break-word;*/
}

.navListItemFoot
{
	font-size:0.7em;
}

/*.galleryList
{
	margin-right:15% !important;
}*/

/*top three images*/


.titleName
{
	width:50%;
	margin-left:25%;
}

/* The Modal (background) */

.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modalContent
{
	/*color:#82C8FF;*/
    background-color:darkgrey;
    margin:5% auto;
    padding:10px;
    border:3px solid black;
    width:75%;
}

/* The Close Button */

.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.moreTattoosImgs
{
	border:solid 2px black;
	width:50%;
	margin-left:25%;
}



/*nine boxes*/

#aboutLabel,#aboutLabel2,#tattooLabel,#testimonialsLabel
{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	margin-top:5px;
}


.middleOfNineDivs
{
	width:70%;
	margin-left:15%;
	margin-right:15%;
	background-color:#F0FDA5;
	font-color:#82C8FF;
	height:600px;
	/*border:1px solid black;*/
}

.nineEven
{
	font-color:#F0FDA5;
	background-color:#82C8FF;
}


.topNineText
{
	text-align:center;
	margin-top:15px;
	font-size:1.5em;
	color:#82C8FF !important;
}



/*Galleries*/


.galleryCol
{
	width:100%;
	border:solid 2px yellow;
}

.galleryReg
{
	width:50%;
	margin-left:25%;
	border:solid 2px red;
}

.canvasTitle
{
	margin-left:25%;
}

.canvasGalleryWrapper
{
	border:solid 1px green;
}



