/*colours

#F0FDA5 light yellow
#82C8FF light blue

*/

/*animations*/

@keyframes galAnimate
{
	0% {border:solid darkgrey 15px;}
	25% {border:solid lightgrey 20px;}
	50% {border:solid white 20px;}
	75% {border:solid lightgrey 17px;}
	100% {border:solid darkgrey 15px;}
}

/*general*/

body
{
	background-color:black !important;
	color:#F0FDA5;
}



h1,h2,h3,h4,p
{
	color:#F0FDA5;
}

a
{
	color:#00ff00 !important;
}




/*homepage*/

.mainImgs
{
	border:solid 3px #FF8000;
	border-radius:40px;
}

.artTopImgs
{
	
	width:50%;
	margin-left:25%;
}

.galRegImg
{
	border:solid darkgrey 15px;
	border-radius:40px;
}

.galRegImg:hover
{
	animation-name: galAnimate;
	animation-duration:7s;
}

.homepageSecondTitles
{
	text-align:center;
}

.homepageImgLink
{
	text-decoration:none;
}

/*top nav menu*/

.headLogo
{
	width:5%;
	margin-left:6%;
	margin-top:15px;
	float:left;
	border-radius:10px;
}

.icon
{
    display: none;
}



.navList, .navListFooter
{
	display:list-item;
	font-size:1.2em;
	list-style:none;
	text-decoration:none;
	text-decoration-color:none;
	/*position:relative;*/
	/*height:10px;*/
}

.navListItem
{
	float:right;
	list-style:none;
	text-decoration:none;
	text-decoration-color:none;
	display:list-item;
	width:8%;
	margin-right:3%;
	padding:0px;
	/*position:relative;*/
	/*word-wrap:break-word;*/
}

.galleryList
{
	margin-right:90% !important;
	font-size:0.8em !important;
}

/*footer*/

.navListItemFoot
{
	font-size:0.7em;
}

/*.galleryList
{
	margin-right:15% !important;
}*/

/*canvas and tattoo pages*/

.featuredCanvas
{
	width:80% !important;
	margin-left:10% !important;
	border:solid 3px #FF8000 !important;
	border-radius:20px !important;
}


.titleName
{
	width:50%;
	margin-left:25%;
	border-radius:10px;
}

/* The Modal (background) - may end up using later for tattoos

.modal
{
    display: none; /* Hidden by default 
    position: fixed; /* Stay in place 
    z-index: 1; /* Sit on top 
    left: 0;
    top: 0;
    width: 100%; /* Full width 
    height: 100%; /* Full height 
    overflow: auto; /* Enable scroll if needed 
    background-color: rgb(0,0,0); /* Fallback color
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
}

/* Modal Content/Box 

.modalContent
{
	/*color:#82C8FF;
    background-color:darkgrey;
    margin:5% auto;
    padding:10px;
    border:3px solid black;
    width:75%;
}

/* The Close Button 

.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.moreTattoosImgs
{
	border:solid 2px black;
	width:50%;
	margin-left:25%;
}

*/

/*nine boxes - design changed; may not need these

#aboutLabel,#aboutLabel2,#tattooLabel,#testimonialsLabel
{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	margin-top:5px;
}


.middleOfNineDivs
{
	width:70%;
	margin-left:15%;
	margin-right:15%;
	background-color:#F0FDA5;
	font-color:#82C8FF;
	height:600px;
	/*border:1px solid black;
}

.nineEven
{
	font-color:#F0FDA5;
	background-color:#82C8FF;
}


.topNineText
{
	text-align:center;
	margin-top:15px;
	font-size:1.5em;
	color:#82C8FF !important;
}*/



/*Galleries*/


.galleryCol
{
	width:100%;
	border:solid 2px yellow;
}

.galleryReg
{
	width:50%;
	margin-left:25%;
	border:solid 2px red;
}

.canvasTitle
{
	margin-left:25%;
}

.canvasGalleryWrapper
{
	border:solid 1px green;
}

/*Search*/

#searchImageSubmit
{
	background-color:green;
}

/*Smaller Comp Media Query*/

@media (max-width: 1510px)
{

	.homeThreeClass
	{
		margin-bottom:600px;
	}

}


/*Tablet Media Query*/

@media (max-width: 760px)
{

	.homeThreeClass
	{
		margin-bottom:400px;
	}

	.navList a:not(first-child)
	{
		display:none;
	}

	.navList a.icon
	{
		float:right;
		display:block;
	}

    .navList.responsive
    {
    	position: relative;
    	display:block;
    	list-style-type: none;
    	font-size:.8em;
    }

    .navList.responsive a.icon
    {
    	position: absolute;
    	right: 0;
    	top: 0;
    	display:block;
    	list-style-type: none;
    }

    .navList.responsive a
    {
    	float: none;
    	display: block;
    	text-align: left;
    	list-style-type: none;
    }

	.featuredCanvas
	{
		margin-bottom:20px !important;
	}

	.navListFooter
	{
		margin-left:0px;
		position:relative;
		width:100% !important;
		
	}

	.navListItemFoot
	{
		width:10%;
	}

	.headLogo
	{
		width:10%;
	}


	.footColOne
	{
		margin-bottom:50px !important;
		width:100% !important;
	}

	.galleryList
	{
		visibility:none !important;
		display:none !important;
	}

}


/*Phone Media Query*/
@media (max-width: 480px)
{
	.homeThreeClass
	{
		margin-bottom:250px;
	}

	.headLogo
	{
		width:15%;
	}

	.featuredCanvas
	{
		margin-bottom:10px !important;
	}

	.navListFooter
	{
		margin-left:0px;
		position:relative;
		width:100% !important;	
	}

	.navListItemFoot
	{
		width:20%;
	}


	.footColOne
	{
		margin-bottom:100px !important;
		width:100% !important;
	}

    .navList.responsive
    {
    	font-size:.5em;
    }
	
}